.bg-color{
    color: blueviolet;
    background-color: aquamarine;
}
.note13Info{
    color: violet;
    background-color: aqua;
}
.Redmi13c{
    color: blue;
    background-color: rgb(138, 211, 211);

}
.Redmicolor{
    color: blueviolet;
    background-color: burlywood;
}